
{% extends 'core/base.html'%}
{% block title %} Add Todo {% endblock title %} 
    <div class="container">

{% block content %}
{% comment %} 
    <h1> Add TODO </h1>
    <form method="POST" >
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="textbox" class="form-control" id="description" name="description">
    </div>
    <button type="submit" class="btn btn-primary">Add TODO</button>
    </form> 
{% endcomment %}
 <form method="POST">
        {% csrf_token %}
        
        {{form}}
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}
 </div>