{% extends 'core/base.html' %}
{% block title %} TODO | Home {% endblock title %}

{% block content %}
<h1 style="text-align: center ;"> TODO List </h1>
{% for item in data%}
    <div class="container">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Task  {{doto}}</h5>
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p> Created By : {{item.user.username}} </p>
        {% comment %} <p class="card-text">{{item.is_completed}}</p> {% endcomment %}
        <a href="{% url 'edit' id=item.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete' id=item.id %}" class="btn btn-danger">Delete</a>
    </div>
    </div>
    </div>
    {% endfor %}
 <div class="container">
    <a href="{% url 'add' %}" class="btn btn-primary">Add Todo</a>
 </div>

{% endblock content %}