{% extends 'core/base.html'%}
{% block title %}TODO | Registration{% endblock title %} 
    <div class="container">

{% block content %}
<h1> Registration Form </h1>
    <form method="POST" >
    {% csrf_token %}
    {% comment %} user = models.ForeignKey(User, on_delete=models.CASCADE) {% endcomment %}
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}
 </div>